<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Registration</title>
</head>
<body>

<div class="container">

    <h1 align="center">Welcome to Currency Converter</h1>
    <div class="form-group" align="right">
        <a href="/" th:href="@{/logout}">Logout</a>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4">

            <form th:action="@{/convert}" th:object="${convert}" method="post">

                <p class="error-message"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error</p>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('currencyFrom')}? 'has-error':''">
                    <label for="currencyFrom" class="control-label">Currency From</label>
                    <select id="currencyFrom"
                            class="form-control"
                            th:field="*{currencyFrom}">
                        <option th:each="currency : ${currencies}"
                                th:value="${currency}" th:text="${currency}"></option>
                    </select>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('currencyFrom')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('amount')}? 'has-error':''">
                    <label for="amount" class="control-label">Amount</label>
                    <input id="amount"
                           class="form-control"
                           th:field="*{amount}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('amount')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('currencyTo')}? 'has-error':''">
                    <label for="currencyTo" class="control-label">Currency To</label>
                    <select id="currencyTo"
                            class="form-control"
                            th:field="*{currencyTo}">
                        <option th:each="currency : ${currencies}"
                                th:value="${currency}" th:text="${currency}"></option>
                    </select>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('currencyTo')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('date')}? 'has-error':''">
                    <label for="date" class="control-label">Date</label>
                    <input type="date" id="date"
                           class="form-control"
                           th:field="*{date}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('date')}"
                       th:text="${error}">Validation error</p>
                </div>

                <p class="text-muted">
                    Historical data are End-Of-Day values, and are currently available from Jan 1st, 1999.
                </p>

                <div th:if="${convertResult} != null">
                    <p class="bg-success" th:text="${#numbers.formatDecimal(convertResult, 0, 'COMMA', 2, 'POINT')}"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Convert</button>
                </div>
            </form>
        </div>

        <div class="col-sm-9 col-md-6 col-lg-8">

            <table class="table table-condensed">
                <thead>
                <th>Currency From</th>
                <th>Currency To</th>
                <th>Amount</th>
                <th>Result</th>
                <th>Date of Rate</th>
                <th>Date of Conversion</th>
                </thead>

                <tbody>
                <tr class="success" th:each="histData : ${previousConversions}">
                    <td th:text="${histData.currencyFrom}"></td>
                    <td th:text="${histData.currencyTo}"></td>
                    <td th:text="${#numbers.formatDecimal(histData.amount, 0, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${#numbers.formatDecimal(histData.result, 0, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${#dates.format(histData.dateOfRate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${#dates.format(histData.dateOfRequest, 'dd-MM-yyyy')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>